:root {
  font-size: 10px;
  font-family: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  background-color: rgb(11, 11, 11);
  color: #fff;
}
.attribution a {
  text-decoration: none;
  color: rgb(203, 137, 55);
  transition: .5s;
}
.attribution a:hover {
  color: rgb(37, 195, 90);
}
/**************************************************/

section {
  background: #fff;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
label {
  margin-bottom: 0.5rem;
}
input {
  margin-bottom: 1.2rem;
  padding: 5px;
  width: 350px;
  height: 45px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input:focus {
  border-image-source: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  border-width: 1px;
  border-image-slice: 1;
}
input[type="submit"] {
  margin-top: 2rem;

  background-color: hsl(278, 68%, 11%);
  color: #fff;
  cursor: pointer;
}
input[type="submit"]:hover {
  opacity: 0.8;
}

.form-container {
  margin: 0 auto;
  margin-block: auto;
  visibility: hidden;
  grid-column: 7/11;
}

.form-section {
  display: flex;
  gap: 30px;
}

.exp-date {
  display: flex;
}

.exp-date > input {
  width: 80px;
  margin-right: 10px;
  margin-top: 0.5rem;
  margin-bottom: -5px;
}

.inputCVC {
  width: 140px;
  margin-right: 10px;
  margin-top: 0.5rem;
}

.gradiente {
  background-image: linear-gradient(
    to top right,
    hsl(270, 28%, 57%),
    hsl(279, 45%, 30%),
    hsl(278, 68%, 11%)
  );
  grid-column: 1/5;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
} 

.front-card {
  background-image: url(./images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  width: 380px;
  height: 200px;
  border-radius: 10px;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  z-index: 9999;
}
.back-card {
  background-image: url(./images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  width: 380px;
  height: 200px;
  border-radius: 10px;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  top: 5rem;
  position: absolute;

}

.front-card div {
  display: flex;
  justify-content: space-between;
}

.front-card img {
  width: 80px;
  margin-bottom: 4.5rem;
}

#card-number {
  font-size: 3rem;
  margin-bottom: 1rem;
}
#card-cvc {
  position: absolute;
  right: 5rem;
  top: 8.8rem;
}

.warning {
  color: red;
  margin-top: -10px;
  margin-left: 0.5rem;
  font-size: 1rem;
  visibility: hidden;
}

.cvc-box {
  display: flex;
  flex-direction: column;
}


  .absolute {
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .sucess-screen {
    grid-column: 7/11;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .sucess-screen p {
    color: grey;
  }

  .sucess-screen button {
    margin-top: 1.5rem;
    width: 25rem;
    height: 4rem;
    background-color: hsl(278, 68%, 11%);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0.5rem;
    letter-spacing: 0.5px;
  }

  .sucess-screen button:hover {
    opacity: 0.8;
  }

  .sucess-screen img {
    width: 100px;
  }

/**************************************  mobile *******************************************/

@media (max-width: 900px) {
  body { display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr  150px;

  }
  section {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 400px 600px;

  }
  input {
    margin-bottom: 1.2rem;
    padding: 5px;
    width: 300px;
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.4);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  .inputCVC {
    width: 120px;
    margin-right: 10px;
    margin-top: 0.5rem;
  }
  .exp-date > input {
    width: 65px;
    margin-right: 10px;
    margin-top: 0.5rem;
    margin-bottom: -5px;
  }
  .gradiente {
    background-image: linear-gradient(
      to top right,
      hsl(270, 28%, 57%),
      hsl(279, 45%, 30%),
      hsl(278, 68%, 11%)
    );
   display: grid;
   grid-template-columns: 1fr;
   height: auto;
   align-content: center;
   justify-items: center;
   grid-template-rows: repeat(5, 1fr);
   grid-column: auto;
   grid-row: 1/2;
  }
  .form-container {
    margin: 0 auto;
    margin-block: auto;
    margin-top: 10rem;
    grid-column: auto;
    grid-row: 2/3;
  }
  .front-card {
    background-image: url(./images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    width: 290px;
    height: 180px;
    border-radius: 10px;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    grid-row: 4/6;
    z-index: 9999;
    margin-right: 3rem;
  }
  .back-card {
    background-image: url(./images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    width: 290px;
    height: 180px;
    border-radius: 10px;
    color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    top: 6rem;
    position: absolute;
    margin-left: 3rem;

  }
  .attribution {
    font-size: 11px;
    text-align: center;
    background-color: rgb(11, 11, 11);
    color: #fff;
    height: auto;
    grid-row: 3/4;
  }
  #card-number {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  #card-cvc {
    position: absolute;
    right: 5rem;
    top: 7.8rem;
  }
  .absolute {
    visibility: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .sucess-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    grid-row: 3/4;
    grid-column: 4/10;

  }
  .sucess-screen p {
    color: grey;
  }

  .sucess-screen button {
    margin-top: 1.5rem;
    width: 25rem;
    height: 4rem;
    background-color: hsl(278, 68%, 11%);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0.5rem;
    letter-spacing: 0.5px;
  }

  .sucess-screen button:hover {
    opacity: 0.8;
  }

  .sucess-screen img {
    width: 100px;
  }
}

/******************************************************/

.visible {
  visibility: visible;
}
